@using Restaurant1.Models
@model IEnumerable<Restaurant1.Models.admin.DetailsInfo>
@{ int controller = 0; }
<html>
<head>

    <link href="~/Scripts/Css/FoodPartialCss.css" />

</head>
<body>
    <table class="table">

        @foreach (var c in Model)
        {
            if (c.FoodCategory == "starter")
            {
                if (controller == 2)
                {

                    controller = 0;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <img style="width:250px;height:250px;text-align:center" class='mx-auto img-thumbnail' src="@c.FoodPicture" />
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }

                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <tr></tr>
                }

                else
                {
                    controller++;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail' src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            }
        }
        @{controller = 0;}
        <tr hidden><td><h3>Ana yemekler</h3></td></tr>
        @foreach (var c in Model)
        {

            if (c.FoodCategory == "main")
            {
                if (controller == 2)
                {

                    controller = 0;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail'
                                         src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <tr></tr>
                }

                else
                {
                    controller++;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail' src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            }

        }
        @{controller = 0;}
        <tr hidden><td><h3>Tatlılar</h3></td></tr>
        @foreach (var c in Model)
        {

            if (c.FoodCategory == "dessert")
            {
                if (controller == 2)
                {

                    controller = 0;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail'
                                         src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <tr></tr>
                }

                else
                {
                    controller++;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail' src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                }
            }

        }
        @{controller = 0;}
        <tr hidden><td><h3>İçecekler</h3></td></tr>
        @foreach (var c in Model)
        {

            if (c.FoodCategory == "drink")
            {
                if (controller == 2)
                {

                    controller = 0;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail'
                                         src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5>
                                        }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <tr></tr>
                }

                else
                {
                    controller++;
                    <td>
                        <div class='container-fluid'>
                            <div>
                                <center>
                                    <img style="width: 250px; height: 250px; text-align: center" class='mx-auto img-thumbnail' src="@c.FoodPicture" />
                                </center>
                                <div class="card-body text-center mx-auto">
                                    <div class='cvp'>
                                        @if (c.InventoryPiece == 0)
                                        {
                                            <h5 class="card-title font-weight-bold" style="color:red">@c.FoodName (TÜKENDİ)</h5> }
                                        else
                                        {
                                            <h5 class="card-title font-weight-bold">@c.FoodName</h5>
                                        }
                                        <p class="card-text">@c.FoodPrice ₺</p>
                                        <p class="btn btn-warning" style="width:148px">@Html.ActionLink("Detayları Düzenle", "FoodDetail", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                        <p></p>
                                        <p class="btn btn-danger" style="width:148px">@Html.ActionLink("Sil", "Remove", new { id = c.FoodID }, new { style = "color:black;text-decoration:none" })</p>
                                    </div>
                                </div>
                            </div>
                    </td>
                }
            }

        }

    </table>
</body>
</html>
