@model IEnumerable<Restaurant1.Models.admin.Cupon>
@{
    int count = 1;
}
<html>
<body>
    <table class="table" style="position:relative;top:120px;right:150px">
        @foreach (var item in Model)
        {
            if (count != 4)
            {
                count++;
                <td>
                    <div style="width:500px">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body" style="background-color:darkslategrey;border-radius:5px">
                                    <h5 class="card-title">Kupon İsmi: @item.KuponName</h5>
                                    <p class="card-text">Kupon Kodu: @item.KuponKodu</p>
                                    <p class="card-text">Kupon Tutarı: @item.KuponTutarı TL</p>
                                    <input class="card-text" hidden value="@item.ID" />
                                    <button class="btn btn-danger" onclick="RemoveCpn(@item.ID)">Kuponu Sil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            }
            else
            {
                <tr></tr>
                count = 1;
                <td>
                    <div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body" style="background-color:darkslategrey;border-radius:5px">
                                    <h5 class="card-title">Kupon İsmi: @item.KuponName</h5>
                                    <p class="card-text">Kupon Kodu: @item.KuponKodu</p>
                                    <p class="card-text">Kupon Tutarı: @item.KuponTutarı TL</p>
                                    <button class="btn btn-danger" onclick="RemoveCpn(@item.ID)">Kuponu Sil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            }
        }
    </table>
</body>
</html>
